*{
    margin:2px, 4px, 2px, 4px;
    padding:5px;
}


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgb(60, 60, 60);
    text-align: center;
}

textarea{
    height:auto;
    width:100%;
    scrollbar-base-color:aqua;
    overflow:hidden;
    resize:none;
}
.input {
    font-size: 20px;
    background-color: black;
    color: rgb(26, 165, 230);
}

.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

    .button:hover {
        background-color: white;
        color: #4CAF50;
    }

#code {
    font-size: 24px;
    color: aliceblue;
}

#folder, #filename{
    border: none;
    color: white;
    padding: 12px 5px;
    margin: 4px 2px;
}

#danger:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}

#panel {
    display: inline;
}

